@import '~normalize.css'; /*через ~ указываем, что нужно искать в node_modules*/
@import './roboto.css';

body{
    font-family: 'Roboto';
}

.container{
    margin: 40px;
    background-color: #eeeeee;
    font-size: 20px;
}

.logo{
    background: #fff url(../assets/webpack-logo.png) 50% 50%/cover no-repeat;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.code{
    color: red
}